.top {
    height: 170px;
    position: relative;
}

#top-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.20);
}
#top-info {
    position: relative;
    z-index: 20;
    margin: 0 auto;
    width: 1080px;
    height: 170px;
}
#logo {
    float: left;
    width: 162px;
    height: 130px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}
#nav{
    float: right;
    height: 80px;
    box-sizing: border-box;
    margin-right: -42px;
    padding-top: 28px;
}
#nav li {
    float: left;
    border-radius: 4px;
    overflow: hidden;
}
#nav li a {
    display: block;
    font-size: 24px;
    height: 46px;
    width: 160px;
}
#nav li a#nav-home {
    background-image: url("../images/nav-home.png");
    background-repeat: no-repeat;
}
#nav li a#nav-blog {
    background-image: url("../images/nav-blog.png");
    background-repeat: no-repeat;
}
#nav li a#nav-about {
    background-image: url("../images/nav-about.png");
    background-repeat: no-repeat;
}
.middle {
    margin: 0 auto;
    width: 1080px;
}
.middle:after {
    display:block;
    content:' ';
    clear:both;
    line-height:0;
    visibility:hidden;
}
#cont-left {
    width: 680px;
    float: left;
}
#cont-right {
    width: 310px;
    float: right;
    position: relative;
    z-index: 30;
}
#search {
    width: 310px;
    height: 50px;
    border: 1px solid #555;
    box-sizing: border-box;
    position: absolute;
    top: -52px;
    left: 0;
}
#search input {
    float: left;
    width: 260px;
    height: 46px;
    box-sizing: border-box;
    padding: 6px 10px;
    line-height: 46px;
    font-size: 18px;
    color: #555;
}
#search-dec {
    float: left;
    width: 46px;
    height: 46px;
    background: url("../images/search-dec.png") no-repeat;
    cursor: pointer;
}
#search-dec:hover {
    background: url("../images/search-dec-h.png") no-repeat;
}
#blog-class #class-title {
    margin-top: 4px;
    height: 67px;
    border-bottom: 1px solid #9937c7;
    background: url("../images/class-title.png") no-repeat;
}
#blog-class #class-ul {
    overflow: hidden;
}
#blog-class #class-ul li {
    height: 52px;
    text-align: left;
    border-bottom: 1px solid #f5f5f5;
}
#blog-class #class-ul li a {
    width: 140px;
    height: 52px;
    line-height: 52px;
    color: #757575;
    font-size: 16px;
    letter-spacing: 1px;
}
#more-wrap {
    position: relative;
    float: right;
    padding-bottom: 40px;
}
#more {
    display: inline-block;
    color: #1369BF;
    font-size: 18px;
    padding: 0 2px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
#more:hover {
    border-bottom: 1px solid #1369BF;
}
.footer {
    height: 80px;
    line-height: 80px;
    color: #757575;
    font-size: 16px;
    text-shadow: 1px 1px 0 #fff;
    letter-spacing: 1px;
    background: #f5f5f5;
    border-top:2px solid #1369BF;
    text-align: center;
}
#to-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 58px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.45);
    background-color: #7d5c99;
    background-image: url("../images/to-top.png");
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}
#to-top:hover {

}
#blog-list li {
    border-bottom: 1px dashed #d5d5d5;
    padding-bottom: 20px;
    margin-bottom: 40px;
    color: #757575;
}
.p-title {
    padding-bottom: 14px;
    position: relative;
}
.p-title-text {
    font-size: 20px;
    padding-bottom: 4px;
    color: #212121 !important;
    cursor: pointer;
}
.p-title-text a:hover {
    color: #1369BF !important;
    text-decoration: underline;
}
.p-title-info,
.sp-title-info {
    color: #757575;
}
.sp-title-info {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 14px;
}
.p-ahead {
    padding-top: 4px;
    color: #757575;
    line-height: 26px;
    text-align: justify;
}
.p-go {
    padding-top: 10px;
}
.p-go a {
    color: #1369BF;
    font-size: 16px;
    letter-spacing: 1px;
}
.p-go a:hover {
    text-decoration: underline;
}
.p-go span {
    float: right;
    font-size: 14px;
    letter-spacing: 1px;
}
.p-text p {
    margin-top: 10px;
    line-height: 26px;
    color: #212121;
    text-align: justify;
}
.p-updown {
    background: #f5f5f5;
    padding: 9px 0;
    margin-top: 20px;
    text-align: right;
}
.p-updown a {
    color: #1369BF;
    font-size: 16px;
    padding-right: 20px;
}
.p-comment {
    overflow: hidden;
}
.p-comment-title {
    padding: 15px 0;
}
.p-comment  textarea {
    width: 680px;
    height: 180px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26) inset;
    padding: 10px;
    line-height: 24px;
    box-sizing: border-box;
    resize: none;
}
.p-comment a {
    float: right;
    border: 1px solid #1369BF;
    background: #1369BF;
    color: #ffffff;
    padding: 5px 28px;
    margin-top: 10px;
}
.p-commentlist {
    padding-bottom: 40px;
}
.p-commentlist li {
    border-bottom: 1px dashed #d5d5d5;
    padding: 20px 0;
    overflow: hidden;
}
.comment-img {
    width: 40px;
    height: 40px;
    float: left;
    background: url("../images/comment.png") no-repeat;
}
.comment-history{
    margin-left: 20px;
    float: left;
    padding-top: 2px;
}

/**********  分页  ***********/
.pagination {
    padding-bottom: 30px;
    padding-top: -10px;
}
.screen-reader-text {
    display: none;
}
.nav-links {
    overflow: hidden;
}
.nav-links .page-numbers {
    display: none;
}
.nav-links .prev.page-numbers,
.nav-links .next.page-numbers {
    display: inline-block;
    line-height: 36px;
    height: 36px;
    width: 120px;
    background-color: transparent;
    border: 1px solid #9c27b0;
    color: #9c27b0;
    text-align: center;
    font-size: 14px;

    transition: all 0.6s;
    -moz-transition: all 0.6s;	/* Firefox 4 */
    -webkit-transition: all 0.6s;	/* Safari 和 Chrome */
    -o-transition: all 0.6s;
}
.nav-links .prev.page-numbers:active,
.nav-links .next.page-numbers:active {
    border: 1px solid #9c27b0 !important;
}
.nav-links .prev.page-numbers:hover,
.nav-links .next.page-numbers:hover {
    background-color: #e7d9ff;
    border: 1px solid #e7d9ff;
    transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;	/* Firefox 4 */
    -webkit-transition: background-color 0.6s;	/* Safari 和 Chrome */
    -o-transition: background-color 0.6s;
}

.nav-links .next {
    float: left;
}
.nav-links .next {
    float: right;
}

/**comments*/
.comments-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px dotted #ddd;
    line-height: 34px;
}
.comment-list  li {
    padding: 15px 10px;
}
.comment-list  > li {
    border-bottom: 1px dotted #ddd;
}
.comment-list > li:hover {
    background: #f5f8fa;
}
.comment-list .comment-author {
    color: #ff2222;
}

.comment-list .fn {
    font-weight: normal;
    vertical-align: top;
    color: #ff2222;
}
.comment-list .comment-body {
    position: relative;
    padding-left: 60px;
}
.comment-list .comment-author-avatar {
    position: absolute;
    left: 0;
    height: 45px;
    width: 45px;
    float: left;
    background: url(../images/avatar-blank.png) no-repeat center;
}
.comment-list .comment-content-wrap {
}
.comment-list .comment-date {
    padding: 5px 0;
    font-size: 14px;
    color: #bdbdbd;
}
.comment-list .reply {
    margin-left: 10px;
    color: #ff2e2e;
    visibility: hidden;
}
.comment-list li:hover > .comment-body .reply {
    visibility: visible;
}
.comment-list .children {
    margin-left: 25px;
}
.comment-respond {
    margin: 10px 0 30px 0;
}
.comment-form > p {
    margin-top: 22px;
}
.comment-form .required {
    color: #ff2222;
}
.comment-form label {
    display: inline-block;
    width: 80px;
}
.comment-form .comment-form-comment label {
    vertical-align: top;
}
.comment-form input {
    width: 300px;
    height: 34px;
    line-height: 34px;
    padding-left: 5px;
    border: 1px solid #ddd;
}
.comment-form textarea {
    border: 1px solid #ddd;
    height: 120px;
    width: 520px;
    padding: 5px;
}
.comment-form .submit {
    margin-left: 80px;
}

/************** search*************************/
.search-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.search-title {
    float: left;
    font-size: 24px;
}
.search-label {
    color: #212121;
    margin-right: 5px;
}
.search-keywords {
    margin-left: 10px;
    color: #ff2222;
}
.search-records {
    float: right;
}
.search-empty {
    margin-top: 15px;
}